html5
html
  head
    title= pageTitle
  body
    header
      h1= pageTitle
    a(href="/") 首页
    section.login
      ul
        if session.user
          li
            a(href="/logout") 登出
          li
            a(href="/user/#{session.user._id}")= session.user.username
            span
              = session.user.lastLoginAt
        else
          li
            a(href="/login") 登录
          li
            a(href="/signup") 用户注册 
          li
            a(href="/club") 俱乐部 
    section.message
      if error && error.length > 0
        .error
          h1= error
      if message && message.length > 0
        .message
          h1= message
      
    section.content
      block content
